.search{
        width: 20rem;
        background: rgb(242, 241, 249);
        border: none;
        height: 30px;
        padding: 5px;
        margin-left: 20em;
        // top: -7em;
        position: relative;
        border-radius: 4px;
}
.searchButton{
    // top: -7em;
    margin-left: 1em;
    position: relative;
}
.search-page {
    width: 100%;
    background-color: #0000b3;
}
.currency-symbol{
  border-radius: .25rem 0px 0px .25rem;
  width: 90px;
}
.currency-amount{
  border-radius: 0px .25rem .25rem 0px;
}
.transaction-form {
  height: 750px;
  margin-top: 0px;
}
.form-form {
  margin-top: 0px;
}
.was-validated{
    border-color: #e63757;
    padding-right: calc(1.5em + 0.625rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23e63757'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e63757' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.15625rem) center;
    background-size: calc(0.75em + 0.3125rem) calc(0.75em + 0.3125rem);
}
.invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 100%;
    text-align: 5px;
    color: #e63757;
    background-color: aliceblue;
    border-radius: .25rem;
    padding: 5px;
}
.new-transaction-form {
   margin-top: 0%;
   min-width: 165px;
   width: auto;
   height: 25px;
   letter-spacing: 0.5px;
   line-height: 26px;
   padding: 0 35px 0 35px;
   font-size: 12px;
   background-color: black;
   color: white;
   text-transform: uppercase;
   font-family: 'Open Sans Condensed';
   font-weight: normal;
   border: none;
   cursor: pointer;
   display: flex;
   justify-content: center;
   border-radius: 10px;
 }
